*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: none;
  line-height: inherit;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
}
