:root {
  --primary: #7ebdf0;
  --blue: #018dff;
  --black: #000;
  --white: #ffff;
  --red-1: #e74c3c;
  --secondary: #68afe9;
  --background-color: #f0eded;
  --font-family-1: "Poppins", sans-serif;
}
