@use "../../../assets/styles/mixins" as mixins;

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center; // Centrer horizontalement
  justify-content: center; // Centrer verticalement
  width: 100%;
}

.container {
 height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  @include mixins.xs {
    flex-direction: column;
  }
}
